In [2]:
import numpy as np
import pandas as pd
import numpy as np
import os
import seaborn as sns
import sklearn
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'pandas'

In [2]:
data = pd.read_csv("Mall_Customers_Clustered.csv")

In [3]:
data.head()

,Unnamed: 0,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Label
0,0,1,Male,19,15,39,2
1,1,2,Male,21,15,81,3
2,2,3,Female,20,16,6,2
3,3,4,Female,23,16,77,3
4,4,5,Female,31,17,40,2

In [4]:
data_mc = data[['Annual Income (k$)', 'Spending Score (1-100)']]
y = data['Label'].values

In [5]:
scaler=StandardScaler()
X_scaled = scaler.fit_transform(data_mc)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,test_size=0.2, random_state=4, stratify=y)

In [7]:
from sklearn.svm import LinearSVC

svc = LinearSVC()
svc.fit(X_train, y_train)
print("Akurasi Linear SVC :", (svc.score(X_test, y_test)))

Akurasi Linear SVC : 1.0

In [8]:
svc_rbf = SVC(kernel='rbf',gamma='auto')
svc_rbf.fit(X_train,y_train)
print("Akurasi RBF SVC :", (svc_rbf.score(X_test, y_test)))

Akurasi RBF SVC : 0.975

In [9]:
svc_poly = SVC(kernel='poly',gamma='auto')
svc_poly.fit(X_train,y_train)
print("Akurasi Polynomial SVC :", (svc_poly.score(X_test, y_test)))

Akurasi Polynomial SVC : 0.975